html {
    position: relative;
    min-height: 100%;
}
body {
    color: #fff;
    background: #202939;
}

#sidebar {
    background: #4d5666;;
    height: 1000px;
    box-shadow: 5px 0 10px #3a3a3a44;
}
.profile {
    padding: 20px;
}
.menu-label {
    color: #fff45c;
    padding: 0 20px;
}
#sidebar ul li a, .title, .label,
.content table th, .content table td {
    color: #fff !important;
}
#sidebar ul li a:hover, .is-nav-active{
    background-color: #eeb84b;
}

.content {
    padding: 30px 30px 0 0;
}
.button {
    margin: 5px 0;
}